body, html {
    font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
    color: #784212;
    font-size: 14px;
    font-weight: 500;
}

.header {
    padding: 3%;
    background: linear-gradient(#F39C12, #E67E22);
}

.header > .title {
    color: #76D7C4;
    font-size: 4em;
    text-shadow: 1px 1px 2px #935116;
}

.who-am-i {
    color: black;
    float: right;
}

.content {
    margin-top: 2em;
}

.content-body {
    padding: 2em;
}

select[multiple] {
    width: 80%;
}

.link {
    color: #76D7C4;
    cursor: pointer;
}