<!doctype html>
<html lang="en" ng-app="stylApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/stylistsApp.css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="stylistsApp.module.js"></script>
    <script src="stylistsAppController.js"></script>
    <script src="whoAmI/whoAmI.module.js"></script>
    <script src="whoAmI/whoAmI.component.js"></script>

    <script src="service/user/user.module.js"></script>
    <script src="service/user/user.service.js"></script>
    <script src="service/appointmentSlot/appointmentSlot.module.js"></script>
    <script src="service/appointmentSlot/appointmentSlot.service.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <who-am-i></who-am-i>
                <div class="title">
                    <span>Stylists App</span>
                </div>
            </div>
        </div>

        <div class="content" ng-controller="StylistsAppController as stylistsController">
            <div class="modal fade" id="appointmentFormModal" tabindex="-1" role="dialog" aria-labelledby="appointmentFormModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="appointmentFormModalLabel">Appointment request form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div ng-if="stylistsController.selectedSlots && !stylistsController.formSubmitted">
                                <p>Selected time slots</p>
                                <ul>
                                    <li ng-repeat="slotLabel in stylistsController.selectedslotslabels">{{ slotLabel.start }} - {{ slotLabel.end }}</li>
                                </ul>
                            </div>
                            <div>
                                <div class="alert alert-success" role="alert" ng-if="stylistsController.formSubmitted">
                                    <strong>Well done!</strong>
                                    <p>{{ stylistsController.confirmationMsq }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="stylistsController.sendAppointmentRequest()"
                                    ng-if="!stylistsController.formSubmitted">
                                Send request
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            Sort by:
                            <select ng-model="stylistsController.orderProp">
                                <option value="name">Alphabetical</option>
                                <option value="-references">More recommended</option>
                                <option value="references">Less recommended</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            Search: <input ng-model="stylistsController.query"/>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-md-7">
                                <span>Select your stylist:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <ul>
                                    <li ng-repeat="stylist in stylistsController.stylists | filter:stylistsController.query | orderBy:stylistsController.orderProp">
                                        <span class="link" ng-click="stylistsController.showSlots(stylist.id)">{{ stylist.name }}</span>
                                        <p>
                                            References: {{ stylist.references }}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true" ng-if="stylist.references > 3"></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <p>Total number of stylists: {{stylistsController.stylists.length}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div ng-if="stylistsController.stylistSlotsData.slots && !stylistsController.formSubmitted">
                        <div class="row">
                            <p>Select the time for your appointment:</p>
                            <select name="bookingsSlots" multiple size="10" ng-model="stylistsController.selectedSlots">
                                <option ng-repeat="slot in stylistsController.stylistSlotsData.slots" value="{{ slot.id }}">{{ slot.start }} - {{ slot.end }}</option>
                            </select>
                        </div>
                        <div class="row">
                            <button type="button"
                                    class="btn"
                                    data-toggle="modal"
                                    data-target="#appointmentFormModal"
                                    ng-if="stylistsController.selectedSlots"
                                    ng-click="stylistsController.appointmentRequestForm()">
                                Request appointment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
